div{
    border: 0.5px solid rebeccapurple;
}
*{
    font-size: 11px;
}
.checkbox{
    text-align: center;
}
/* select.form-control{
    color:red;
} */
/* .col{
    height: 80px;
}
.row{
    margin: 0;
} */
/* #imagen{
    height: 240px;
} */
