div{
    border: 0.5px solid rebeccapurple;
}
*{
    font-size: 12px;
}
.checkbox{
    text-align: center;
}
select.form-control{
    color:red;
    text-align: center;
}
textarea{
    resize: none;
    overflow: auto;
}
/* .col{
    height: 80px;
}
.row{
    margin: 0;
} */
/* #imagen{
    height: 240px;
} */
.fila{
    width: 276mm;
    height: 40mm;
}
td{
    height: 7mm;
}

.parent-div {
    display: flex;
    flex-wrap: wrap;
    /* for horizontal aligning of child divs */
    justify-content: center;
    /* for vertical aligning */
    /* align-items: center; */
    height: 175mm;

}
  
/* .child-div {
    width:35%;
    height: 100%;
    display: inline-block;
}
.child-img{
    width:29% ;
    height: 100%;
    display: inline-block;
} */
/* .primera{
    height: 12mm;
} */
