/* div{
    border: 0.5px solid rebeccapurple;
} */
*{
    font-size: 12px;
}
.checkbox{
    text-align: center;
}
.col,.col-1,.col-3,.col-6{
    padding-bottom: 1mm;
}
select.form-control{
    text-align: center;
}
textarea{
    resize: none;
    overflow: auto;
}
.col{
    background-color: grey;
}/*
.row{
    margin: 0;
} */
/* #imagen{
    height: 240px;
} */
.fila{
    width: 276mm;
    height: 40mm;
}
td{
    height: 7mm;
}

.parent-div {
    display: flex;
    flex-wrap: wrap;
    /* for horizontal aligning of child divs */
    justify-content: center;
    /* for vertical aligning */
    /* align-items: center; */
    height: 180mm;

}
.formulario{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0%;
}
/* .child-div {
    width:35%;
    height: 100%;
    display: inline-block;
}
.child-img{
    width:29% ;
    height: 100%;
    display: inline-block;
} */
/* .primera{
    height: 12mm;
} */
